wordcloud==1.8.1
streamlit==0.84.1
textblob==0.17.1
matplotlib==3.4.3
neattext==0.1.2

spacy>=2.2.0,<3.0.0

https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-2.2.0/en_core_web_sm-2.2.0.tar.gz#egg=en_core_web_sm
